/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   
html 
{
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-image: linear-gradient(to top, chocolate 20%, wheat 40%);
}

header #logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#header h1
{
    font-family: "Brush Script MT", cursive;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    line-height: 27px;
    text-align: center;
    margin-top: 2em;
}

#header h2
{
    font-family: "Brush Script MT", cursive;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    line-height: 27px;
    text-align: center;
}

body 
{ 
    color: black;
    margin-left: 0;
    padding: 0;
    font-size: 90%;
    border: 2px outset burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 3px 3px 2px 2px green;
}

p
{
    margin-top: 2%;
}

figure figcaption 
{
    text-align: center;
    color: yellow;
}

#MainArticle 
{
    margin: 1em;
    font-size: 1.8em;
    padding: 5px;
}

#italics
{
    font-style: italic;
}

#location
{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

#location2
{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}


#bakery
{
    height: 600px;
    width: 600px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 15px; /* Add a top margin */
    margin-bottom: 45px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-image: linear-gradient(tan, bisque);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-image: linear-gradient(chocolate, bisque);
}

/* Add a background color and some padding around the form */
.container {
    padding: 10px;
}

#ninja-slider {
    width:100%;
    padding: 30px 0;

    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider.fullscreen {
    background:#000;
}


#ninja-slider .fs-icon {
    top:6px;
    right:6px;
    width:60px;
    height:26px;
    background: rgba(0,0,0,0.2);
    z-index:2;
    color:white;
    text-align:center;
    font:bold 11px/26px arial;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:2px;
    opacity:0;
    -webkit-transition:opacity 0.8s;
    transition:opacity 0.8s;
}

#ninja-slider .slider-inner:hover .fs-icon,
#ninja-slider.fullscreen .fs-icon {
    opacity: 1;
}
#ninja-slider.fullscreen div.fs-icon {
    right:30px;
}

#ninja-slider .fs-icon::before {      
    content:"EXPAND";
    display:block;
}

#ninja-slider.fullscreen .fs-icon::before {
    content:"CLOSE";
}


#ninja-slider .slider-inner {
    max-width:600px;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
}

#ninja-slider.fullscreen .slider-inner {
    width:95%;
    max-width:800px;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
}

#ninja-slider li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider .caption {
    padding:20px 40px;
    margin:auto;
    left:0;right:0;
    top:auto;bottom:0px;
    width:auto;
    text-align:right;
    font-family:sans-serif;
    font-size:11px;
    color:rgba(255,255,255,0.2);
    background:none;
    /*background:rgba(0,0,0,0.12);*/
    position:absolute;
    box-sizing:border-box;
}
#ninja-slider li .cap1 {
    color:rgba(255,255,255,0.5);
    font:bold 32px arial;
    text-align:center;

    opacity:0;
    bottom:40%;
    -webkit-transition:bottom 1.3s, opacity 1s;
    transition:bottom 1.3s, opacity 1s;
}

/*The cap1 of the current slide */
#ninja-slider li[class*='-'] .cap1 {
    opacity:1;
    bottom:20%;
}
#ninja-slider li .cap2 {
    color:rgba(255, 162, 0, 0.5);
    font-size:23px;
    bottom:15%;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

/*The cap2 of the current slide */
#ninja-slider li[class*='-s'] .cap2 {
    bottom:10%;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}  

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-51px;/*pager's height should also be counted*/
    background-color:rgba(0,0,0,0.4);
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}


#ninja-slider-prev {
    left: -42px; /*set it with a positive value if .slider-inner does not have max-width setting.*/
}
#ninja-slider-next {
    right: -42px;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    backface-visibility:hidden;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    right:4px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev div, #ninja-slider-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-pager { display:none;}*/
#ninja-slider-pager
{
    padding-top:30px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #CCC;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-pager a.active 
{
    background-color:#1293dc;
    box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 1px rgba(0,0,0,.5);
}

   

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:600px){

    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        display:none;
    }

    
    #ninja-slider li .cap1 {
        font-size:20px;
    }
}

#MainArticle pre
{
    font-size: 60%
}

#prices p
{
    text-align: right;
}


.column 
{
    float: left;
    width: 50%;
}

.row:after 
{
    content: "";
    display: table;
    clear: both;
}

#case
{
    width: 600px;
    margin-bottom: 4em;
}

dl dt
{
    font-weight: bolder;
}

dl dd
{
    font: italic;
}

#info
{
    text-align: left;
}

#Fact p
{
    text-align: center;
}

#homelogo
{
   float: right;
}

#display
{
    float: right;
    margin-right: 3em;
    width: 550px
}

#fire
{
    float: right;
    width: 650px;
}
article a:link 
{
    color: green;
}

article a:visited 
{
    color: red;
}

article a:hover
{
    color: blue;
    font-weight: bold;
}

article figure 
{
    float: right;
	margin: 0 1em 1em 1em;
}

article figcaption 
{
	display: block;
	font-weight: bolder;
	padding-top: 0em;
	border-bottom: 1px solid;
}

article img 
{
    padding: 2px;
    margin: 0px 0px 15px 15px;
    width: 450px;
    height: 400px;
}

#nav
{
    list-style-type: none;
    width:750px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#nav li 
{
    float: left;
    background-image: linear-gradient(bisque, chocolate);
}

#nav a
{
    text-align: center;
    display: block;
    font-size: 1.5em;
    font-weight: bolder;
    font: lighter 130%/150% "Calibri italic";
    color: black;
    width: 150px; 
    text-decoration: none;

}

.navItem:hover
{
    background-image: linear-gradient(sienna,tan);
}

.navItem:focus
{
    background-color: chocolate;
}

.active 
{
    background-image: linear-gradient(sienna,tan);
}

time 
{
    float: right;
}

footer 
{
    margin: 0.5em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
